# Package/Dependencies
bower_components/
node_modules/
types/

# Build
bin/
obj/

# Test
test/coverage

# POC Files
_Futures/

# Others
.vs/
.vscode/**
.DS_Store
.idea

#Explicit Includes
!.vscode/settings.json
