language: node_js

branches:
  only:
    - development

before_script:
  - npm install codeclimate-test-reporter

script:
  - grunt restore
  - grunt build

after_script:
  - process.env.CODECLIMATE_REPO_TOKEN codeclimate < test/coverage/lcov.info
