addons:
  code_climate:
    repo_token: $CODECLIMATE_REPO_TOKEN

after_success:
  - npm install codeclimate-test-reporter -g
  - codeclimate < test/coverage/lcov.info

branches:
  only:
    - master

language: node_js

script:
  - grunt build